<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] [%thread/%level] [%logger{36}] %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- Root logger level (can be overridden by POORCRAFT_LOG_LEVEL env var) -->
    <root level="${poorcraft.log.level:-INFO}">
        <appender-ref ref="CONSOLE" />
    </root>
    
    <!-- Default project logging; elevate via -Dpoorcraft.log.level=DEBUG when needed -->
    <logger name="com.poorcraft.ultra" level="INFO" />

    <!-- Hotfix Phase: Verbose logging for input and state management troubleshooting -->
    <logger name="com.poorcraft.ultra.ui.InputConfig" level="INFO" />
    <logger name="com.poorcraft.ultra.ui.GameStateManager" level="INFO" />
    <logger name="com.poorcraft.ultra.ui.InGameState" level="INFO" />
    <logger name="com.poorcraft.ultra.player.PlayerController" level="INFO" />
    <logger name="com.poorcraft.ultra.ui.MainMenuState" level="INFO" />

    <!-- Set to DEBUG to troubleshoot input registration issues -->
    <!-- <logger name="com.poorcraft.ultra.ui.InputConfig" level="DEBUG" /> -->
    <!-- <logger name="com.poorcraft.ultra.player.PlayerController" level="DEBUG" /> -->

    <!-- Set to TRACE to see every input event (very verbose) -->
    <!-- <logger name="com.poorcraft.ultra.player.PlayerController" level="TRACE" /> -->
    
    <!-- Reduce jMonkeyEngine verbosity -->
    <logger name="com.jme3" level="INFO" />
    
    <!-- Reduce LWJGL verbosity -->
    <logger name="org.lwjgl" level="WARN" />
</configuration>
