<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="LOG_DIR" value="${LOG_DIR:-logs}"/>
    <property name="DEV_MODE" value="${dev.mode:-false}"/>

    <contextName>PoorcraftUltra</contextName>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/poorcraft-ultra.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/poorcraft-ultra.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>2048</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>4096</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="FILE"/>
    </appender>

    <logger name="com.poorcraft.ultra" level="DEBUG"/>
    <logger name="com.jme3" level="WARN"/>
    <logger name="org.lwjgl" level="WARN"/>

    <if condition='property("DEV_MODE") != null &amp;&amp; property("DEV_MODE").equalsIgnoreCase("true")'>
        <then>
            <root level="DEBUG">
                <appender-ref ref="ASYNC_CONSOLE"/>
                <appender-ref ref="ASYNC_FILE"/>
            </root>
        </then>
        <else>
            <root level="INFO">
                <appender-ref ref="ASYNC_CONSOLE"/>
                <appender-ref ref="ASYNC_FILE"/>
            </root>
        </else>
    </if>
</configuration>
