name: Poorcraft Ultra CI

on:
  push:
    branches: ["*"]
  pull_request:

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: 'gradle'
      - name: Grant execute permission for gradlew
        run: git update-index --chmod=+x gradlew
      - name: Build
        run: ./gradlew build --no-daemon
      - name: Test
        run: ./gradlew test --no-daemon
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-artifacts
          path: |
            app/build/libs/**/*.jar
            **/build/reports/tests/**

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: 'gradle'
      - name: Install LWJGL dependencies
        run: sudo apt-get update && sudo apt-get install -y libglfw3 libopenal1 libxxf86vm-dev
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build
        run: ./gradlew build --no-daemon
      - name: Test
        run: ./gradlew test --no-daemon
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-artifacts
          path: |
            app/build/libs/**/*.jar
            **/build/reports/tests/**
